.base {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;

  @include sxMin {
    width: 100%;
  }

  @include mdMin {
    width: $md-min;
    padding-left: 20px;
    padding-right: 20px;
  }

  @include lgMin {
    width: $lg-min;
  }

  @include xlMin {
    width: $xl-min;
    padding-left: 25px;
    padding-right: 25px;
  }
}
