@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #031412;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(black, 0);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  & > main {
    flex: 1 1 auto;

    &.main,
    &.short {
      padding-top: 71px;
    }

    &.main {
      @include breakpoint(md) {
        padding-top: 134px;
      }

      @include breakpoint(lg) {
        padding-top: 93px;
      }
    }

    &.short {
      @include breakpoint(md) {
        padding-top: 93px;
      }
    }

    &.main,
    &.short {
      @include breakpoint(xl) {
        padding-top: 107px;
      }
    }
  }
}

button,
input,
textarea,
select {
  font-size: inherit;
}

img {
  object-fit: cover;
}

a {
  display: block;
}

label,
input[type='checkbox'] {
  cursor: pointer;
}
