*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  height: 100%;
}

body {
  color: #031412;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
}

main {
  display: flex;
  flex: 1 1 auto;

  &.main,
  &.mini {
    padding-top: 70px;
  }

  &.main {
    @include tabletMin {
      padding-top: 139px;
    }

    @include laptopMin {
      padding-top: 91px;
    }
  }

  &.mini {
    @include tabletMin {
      padding-top: 91px;
    }
  }

  &.main,
  &.mini {
    @include desktopMin {
      padding-top: 105px;
    }
  }
}

button,
input,
textarea,
select {
  font-size: inherit;
}

img {
  object-fit: cover;
}

a {
  display: inline-block;
}

label,
input[type='checkbox'] {
  cursor: pointer;
}
