*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  height: 100%;
}

body {
  color: #031412;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
}

main {
  display: flex;
  flex: 1 1 auto;
}

button,
input,
textarea,
select {
  font-size: inherit;
}

img {
  object-fit: cover;
}

a {
  display: block;
}

label,
input[type='checkbox'] {
  cursor: pointer;
}
