.base {
  color: #fff;
  position: absolute;
  right: 30px;
  bottom: 0;
  padding: 25px 16px 50px;

  @include breakpoint(md) {
    right: 40px;
  }

  @include breakpoint(xl) {
    right: 50px;
  }

  &:hover {
    opacity: 0.75;
  }
}

button.base {
  background: linear-gradient(92deg, #5e3928 20%, #e4a16f 93%);
}

.inner {
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;
  writing-mode: vertical-rl;
}
