.base {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;

  @include mdMin {
    margin-bottom: 30px;
  }
}

.h2 {
  margin-bottom: 30px;
  font-size: 30px;

  @include mdMin {
    margin-bottom: 40px;
    font-size: 60px;
  }

  @include xlMin {
    margin-bottom: 50px;
    font-size: 100px;
  }
}

.h3 {
  font-size: 24px;

  @include mdMin {
    font-size: 40px;
  }

  @include xlMin {
    margin-bottom: 40px;
    font-size: 50px;
  }
}

.h4 {
  font-size: 20px;

  @include mdMin {
    margin-bottom: 25px;
    font-size: 24px;
  }

  @include xlMin {
    margin-bottom: 30px;
    font-size: 28px;
  }
}
