.header {
  // position: fixed;
  // z-index: 900;
  // top: 0;
  // left: 0;
  background-color: #0b3f37;
  width: 100%;
  color: #ffffff;
  padding-bottom: 20px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @include tabletMin {
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 50px;

    .logo {
      width: 160px;
      height: 43px;
      margin-right: auto;
    }
  }

  @include laptopMin {
    justify-content: space-between;
    flex-wrap: nowrap;

    .logo {
      margin-right: initial;
    }
  }
}

.navigation {
  display: none;

  @include tabletMin {
    display: block;
    order: 3;
  }

  @include laptopMin {
    order: initial;
  }
}

.navigation__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__item {
  font-size: 16px;
  line-height: 1;
  color: #ffffff;
  border-bottom: 1px solid transparent;

  &:not(:last-child) {
    margin-right: 55px;

    @include laptopMin {
      margin-right: 35px;
    }

    @include desktopMin {
      margin-right: 55px;
    }
  }

  @include desktopMin {
    font-weight: 600;
    font-size: 20px;
  }

  &:hover {
    background: linear-gradient(92deg, #5e3928 -79%, #e4a16f 84%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    border-bottom: 1px solid #e4a16f;
  }
}

.list__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item__button {
  position: relative;
  padding: 30px 10px 10px;
  background-color: #fff;
  color: #0b3f37;

  &:first-child {
    display: none;

    @include tabletMin {
      display: block;
    }
  }

  &:not(:last-child) {
    margin-right: 15px;
  }

  @include tabletMin {
    .icon {
      width: 28px;
      height: 28px;
    }
  }

  @include desktopMin {
    padding-top: 45px;
  }
}

.count {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  color: #e4a16f;

  @include tabletMin {
    top: 12px;
    font-size: 20px;
  }

  @include desktopMin {
    top: 20px;
    font-size: 25px;
  }
}

.button {
  position: relative;
  padding: 8px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;

  .icon {
    position: relative;
    z-index: 1;
    stroke-width: 0.1;
  }

  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: calc(100% + 15px);
    background: linear-gradient(92deg, #5e3928 20%, #e4a16f 93%);
    z-index: 0;
  }

  @include tabletMin {
    display: none;
  }
}
