.base {
  position: fixed;
  z-index: 900;
  background: linear-gradient(285deg, #0b3f37 38%, #cb8d62 142%);
  width: 100%;
  color: #fff;
  padding-bottom: 20px;

  @include tabletMin {
    padding-bottom: 23px;
  }

  @include desktopMin {
    padding-bottom: 28px;
  }
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-grow: 1;

  @include tabletMinMax {
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 23px;
  }

  .logo {
    @include tabletMin {
      width: 160px;
      height: 43px;
    }

    @include desktopMin {
      width: 175px;
      height: 47px;
    }
  }

  &__list-link {
    display: none;

    @include tabletMin {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 55px;
    }

    @include tabletMinMax {
      order: 3;
    }

    @include laptopMinMax {
      column-gap: 35px;
      order: initial;
    }
  }

  &__item-link {
    @include tabletMin {
      font-size: 16px;
      line-height: 1;
      border-bottom: 1px solid transparent;
    }

    @include desktopMin {
      font-weight: 600;
      font-size: 20px;
    }

    & a {
      padding: 2px;
    }

    &:hover {
      background: linear-gradient(92deg, #5e3928 -79%, #e4a16f 84%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      border-bottom: 1px solid #e4a16f;
    }

    &-more {
      position: relative;
      cursor: pointer;

      &-title {
        display: flex;
        align-items: center;
        padding: 2px;
      }

      &-icon {
        transform: rotate(90deg);
        margin-left: 6px;
        stroke-width: 0.1;
        margin-top: 2px;

        @include desktopMin {
          width: 16px;
          height: 16px;
        }

        .nav__item-link:hover & {
          fill: #e4a16f;
        }
      }
    }

    &-sublist-wrapper {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      padding-top: 10px;

      .nav__item-link:hover & {
        opacity: 1;
        visibility: visible;
      }
    }

    &-sublist {
      line-height: 1.1;
      max-width: 230px;
      box-shadow: 2px 4px 5px 2px rgba(18, 18, 18, 0.3);
      font-size: 14px;

      @include desktopMin {
        font-size: 18px;
      }
    }

    &-subitem {
      padding: 8px 15px;
      background: #fff;
      -webkit-text-fill-color: #031412;
      color: #031412;

      &:hover {
        background: linear-gradient(92deg, #5e3928 -79%, #e4a16f 84%);
        color: #fff;
        -webkit-text-fill-color: #fff;
      }
    }
  }

  &__list-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 15px;

    @include tabletMinMax {
      margin-left: auto;
    }
  }

  &__item-btn {
    position: relative;
    background-color: #fff;
    color: #0b3f37;

    & a {
      padding: 22px 8px 8px;

      @include tabletMin {
        padding: 34px 10px 10px;
      }

      @include desktopMin {
        padding-top: 39px;
      }
    }

    &-count {
      position: absolute;
      top: 5px;
      left: 50%;
      transform: translateX(-50%);
      font-weight: 700;
      font-size: 14px;
      line-height: 1;
      background: linear-gradient(92deg, #5e3928 20%, #e4a16f 93%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      pointer-events: none;

      @include tabletMin {
        top: 10px;
        font-size: 18px;
      }

      @include desktopMin {
        font-size: 22px;
      }
    }

    &-icon {
      @include tabletMin {
        width: 24px;
        height: 24px;
      }

      @include desktopMin {
        width: 28px;
        height: 28px;
      }
    }

    &:hover {
      opacity: 0.75;
    }
  }
}
