$white: #fff;
$white-smoke: #f7f7f7;
$black: #000;
$black-pantone: #031412;
$brown: #5e3928;
$brown-lite: #a4704d;
$orange: #e4a16f;
$green: #0b3f37;
$green-lite: #029281;
$gray: #a1a1a1;
$pantone: #f3d0d0;
$red-dark: #9b0000;
