.error-404 {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  height: 100%;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 420px;

  @include breakpoint(md) {
    max-width: 700px;
  }

  &__code {
    background: linear-gradient(92deg, #5e3928 20%, #e4a16f 93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    font-size: 140px;
    font-weight: 700;
    line-height: 0.8;

    @include breakpoint(md) {
      font-size: 240px;
    }

    @include breakpoint(xl) {
      font-size: 300px;
    }
  }

  &__title {
    line-height: 1.2;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 700;
    font-size: 28px;

    @include breakpoint(md) {
      font-size: 38px;
    }

    @include breakpoint(xl) {
      font-size: 46px;
    }
  }

  &__desc {
    color: #a1a1a1;
    font-size: 18px;

    @include breakpoint(md) {
      font-size: 26px;
    }

    @include breakpoint(xl) {
      font-size: 30px;
    }
  }

  &__go-home {
    font-weight: 600;
    line-height: 1;
    font-size: 20px;
    background: linear-gradient(92deg, #5e3928 20%, #e4a16f 93%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;

    &:hover {
      opacity: 0.75;
    }

    a {
      padding: 15px 40px;
    }
  }
}
